
/*copyright bar */
footer{
    clear: both;
    background-color: rgba(29, 88, 32, 0.938)#333;
    color: darkgray;
    padding: 20px;
    text-align: center;
    margin-bottom: 0;
}

/* form */
aside{
    float: right;
    margin: 0 1.5%;
    width: 33%;
}

/* title */
h1{
    padding-top: 25px;
    width:100%;
    text-align: center;
    margin: 0%;
    color: darkgray;
    vertical-align: top;
}


/*page header*/
header{
    margin-top: 0;
    font-size: 400%;
    background-color: rgba(29, 88, 32, 0.938);
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    padding-bottom: 0;
}

 /* Bordered form */
 form {
    border: 3px solid #f1f1f1;
    max-width: 480px;
    margin: auto;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: rgb(66, 139, 248);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Add padding to containers */
.container {
    padding: 8px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 8px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
} 

/*links*/
a {
    color: inherit;
    text-decoration: inherit;
}
#container{
    max-width: 100%;
    max-height: 800px;
    top: 0%;
}

body {
    margin: 0px;
}

/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: rgba(42, 121, 46, 0.938);
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Links inside the navbar tripper */
.navbar b {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding-left: 4px;
    padding-top: 4px;
    max-height: 30px
    text-decoration: none;
    font-size: 30px;
}

/* Main content */
.main {
    margin-top: 48px; /* Add a top margin to avoid content overlay */
}

/*quote box front page*/
.quotesec {
    text-align: center;
    background-color: rgba(42, 121, 46, 0.938);
    font-size: 175%;
    width: 100%;
    height:20%;
    line-height: 80px;
    vertical-align: middle;
}

p {
    margin: 0;
}



img {
padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    width: 100vw;

/*quote box front page*/
.aboutme {
    text-align: center;
    background-color: rgba(42, 121, 46, 0.938);
    font-size: 125%;
    width: 100%;
    height:20%;
    line-height: 60px;
    vertical-align: middle;
}

/*for image slideshow*/
.slider-holder
{
    width: 800px;
    height: 400px;
    background-color: yellow;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
}

.image-holder
{
    width: 2400px;
    background-color: red;
    height: 400px;
    clear: both;
    position: relative;
    
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
}

.slider-image
{
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
}

#slider-image-1:target ~ .image-holder
{
    left: 0px;
}

#slider-image-2:target ~ .image-holder
{
    left: -800px;
}

#slider-image-3:target ~ .image-holder
{
    left: -1600px;
}

.button-holder
{
    position: relative;
    top: -20px;
}

.slider-change
{
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: brown;
}